{
  "presets": ["./script/babel-preset", "stage-0", "react"],
  "plugins": [
    "transform-decorators-legacy",
    ["import", {
      "libraryName": "lodash",
      "libraryDirectory": "",
      "camel2DashComponentName": false
    }]
  ]
}
